<section id="cognitiveApp" class="container ">
	<nav id="nav"></nav>
	<section id="main" class="panel-group" role="tablist" aria-multiselectable="true">
		<article class="selector row panel panel-default collapse in">Loading...</article>
	</section>
</section>