<header id="filters" class="row">
	<a href="#/love" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg love">love</button></a>
	<a href="#/joy" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg joy">joy</button></a>
	<a href="#/surprise" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg surprise">surprise</button></a>
	<a href="#/anger" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg anger">anger</button></a>
	<a href="#/sadness" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg sadness">sadness</button></a>
	<a href="#/fear" class="active col-xs-6 col-sm-4 col-md-2"><button class="btn btn-primary btn-lg fear">fear</button></a>
</header>